.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
}

.selectedOption {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 375px;
  padding-top: 10px;
  width: 500px;
}
