/* UserForm.css */
.user-form {
  position: absolute;
  top: 0;
  right: 500px;
  left: 500px;
  max-width: 300px;
  max-height: 900px;
  padding: 50px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
