.form {
  text-align: right;
  border: 2px solid blue;
  width: 775px;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #068a7b;
  border: 1px solid #068a7b;
  color: rgb(0, 0, 0);
  padding: -0.5rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #068a7b;
  border-color: #068a7b;
}
