.button {
  cursor: pointer;
  font: inherit;
  background-color: #963f10;
  border: black 2px solid;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #d7865b;
}
